= link_to position_path(position), :class => 'btn btn-mini' do
  %i.icon-search 

- if position.enter_signaled?
  = link_to enter_position_path(position), :class => 'btn btn-mini' do
    %i.icon-signin &nbsp;Enter

- if position.exit_signaled?
  = link_to exit_position_path(position), :class => 'btn btn-mini' do
    %i.icon-signout &nbsp;Exit
