%legend Positions 

%table#entered_positions
  = render partial: 'headers'

  %tbody
    - @entered_positions.each do |position|
      = render partial: position

:javascript
  $(document).ready(function() {
    $('table').tablesorter({theme: 'blue'});
  })
