%legend History

%table#exited_positions
  %thead
  = render partial: 'headers', locals: {include_exit: true}

  %tbody
    - @exited_positions.each do |position|
      = render partial: position, locals: {include_exit: true}

:javascript
  $(document).ready(function() {
    $('table').tablesorter({theme: 'blue'});
  })

