base: &base
  adapter: mysql2
  username: root
  host: localhost
  encoding: utf8
  timeout: 5000

development:
  <<: *base
  database: dxmodel_dev

test:
  <<: *base
  database: dxmodel_test

staging:
  <<: *base
  database: dxmodel_staging
  password: enter12
  socket: /var/run/mysqld/mysqld.sock #Ubuntu


ap.dxmodel:
  <<: *base
  database: ap.dxmodel
  password: enter12
  socket: /var/run/mysqld/mysqld.sock #Ubuntu

uk.dxmodel:
  <<: *base
  database: uk.dxmodel
  password: enter12
  socket: /var/run/mysqld/mysqld.sock #Ubuntu

us.dxmodel:
  <<: *base
  database: us.dxmodel
  password: enter12
  socket: /var/run/mysqld/mysqld.sock #Ubuntu
