base: &base
  adapter: mysql2
  username: root
  host: localhost
  encoding: utf8
  timeout: 5000

development:
  <<: *base
  database: dxmodel_dev

test:
  <<: *base
  database: dxmodel_test

staging:
  <<: *prod
  database: dxmodel_staging

us:
  <<: *prod
  database: com_dxmodel_us

