base: &base
  adapter: mysql2
  username: root
  host: localhost
  encoding: utf8
  timeout: 5000

development:
  <<: *base
  database: dxmodel_dev

prod: &prod
  <<: *base
  database: dxmodel_dev

test:
  <<: *base
  database: dxmodel_test

staging:
  <<: *prod
  database: dxmodel_staging


ap:
  <<: *prod
  database: ap.dxmodel

uk:
  <<: *prod
  database: uk.dxmodel

us:
  <<: *prod
  database: us.dxmodel

jp:
  <<: *prod
  database: jp.dxmodel

au:
  <<: *prod
  database: au.dxmodel

staging.dxmodel:
  <<: *base
  database: staging.dxmodel

backtest1:
  <<: *prod
  database: backtest1.dxmodel

backtest2:
  <<: *prod
  database: backtest2.dxmodel
