= form_tag(uploads_path, {:multipart => true, :class => 'form-horizontal'}) do 
  .control-group
    %label.control-label{:for => "date"} Date
    .controls
      %input#date{:placeholder => "E.g. 19730401", :name => 'date', :type => "text"}

  .control-group
    .controls
      %label.radio
        %input#longshort1{:checked => "", :name => "longshort", :type => "radio", :value => "long"}
          Long
      %label.radio
        %input#longshort2{:name => "longshort", :type => "radio", :value => "short"}
          Short

  .control-group
    %label.control-label{:for => "file"} File
    .controls
      %input#file{:name => 'file', :type => "file"}

  .control-group
    .controls
      %button.btn{:type => "submit"} Upload
