= form_tag(uploads_path, {:multipart => true, :class => 'form-horizontal'}) do 
  .control-group
    %label.control-label{:for => "file"}
    .controls
      %input#file{:name => 'file', :type => "file"}
      %span.help-block 
        Filename must be YYYYMMDD[L|S].csv
        %br
        Eg. 20121205L.csv or 20121205S.csv 

  .control-group
    .controls
      %button.btn{:type => "submit"} Upload
