= form_tag(uploads_path, {:multipart => true, :class => 'form-horizontal'}) do 
  .control-group
    %label.control-label{:for => "date"} Date
    .controls
      %input#date{:name => 'date', :type => "text"}

  .control-group
    %label.control-label{:for => "long"} Long file
    .controls
      %input#long{:name => 'long', :type => "file"}

  .control-group
    %label.control-label{:for => "short"} Short file
    .controls
      %input#short{:name => 'short', :type => "file"}

  .control-group
    .controls
      %button.btn{:type => "submit"} Upload

%hr

#notes
  %h4 
    Expected CSV column headers 
    %small.mute (Including capitalization and trailing spaces)

  %ul
    %li Ticker
    %li Short Name
    %li GICS Sector
    %li Ranking Model: Long Score
    %li Alpha:M-6
    %li P/E
    %li Live PE Chg
    %li P/B
    %li Live P/BK Chg
    %li P/FCF
    %li Live P/CF Chg
    %li Diluted EPS - 5 Year Average Growth:Y
    %li BEst ROE BF12M
    %li BEst ROA BF12M
    %li Average Traded Value 30days
    %li Closing PX 
    %li WMAVG
    %li SMAVG




:javascript
  $(function() {
    $( "#date" ).datepicker({ dateFormat: "yy-mm-dd" });
  });
