#exposure_chart

:javascript
  $(function () {  
      new Highcharts.Chart({
          title: { text: 'Exposure' },
          chart: { renderTo: 'exposure_chart' },
          xAxis: { type: 'datetime' },
          yAxis: {
              title: { text: 'Short', style: { color: '#89A54E' } },
              labels: { style: { color: '#89A54E' } },
              tickInterval: 1
          },

          series: {
              yAxis: 1,
              name: 'Short',
              type: 'spline',
              color: '#4572A7',
              pointInterval: 1,
              pointStart: 1,
              data: "[1,2]"
          }
      });
