= javascript_include_tag "http://code.highcharts.com/highcharts.js"
= javascript_include_tag "http://code.highcharts.com/modules/exporting.js"


%h1 Exposure

#container{:style => "height: 400px; min-width: 600px"}

:javascript
  $(function() {  
    var chart = new Highcharts.Chart({  
      chart: {  
        renderTo: 'container',
        type: 'spline'
      },  

      title: {
        text: 'Exposure',
        x: -20 //center
      },

      subtitle: {
        text: 'USD',
        x: -20 //center
      },

      xAxis: {
        title: { text: 'Date' },
        type: 'datetime'
      },
      yAxis: {
        min: 0,
        title: {text: null}
      },

      series: [{  
        name: 'Long',  
        data: #{@long_exposures}
      },{  
        name: 'Short',  
        data: #{@short_exposures}
      }]  

    });  
  });
