%thead
  %tr
    %td{:class => "{sorter: false}", :colspan => 3, :style => 'text-align: center;font-size: 14px;'} Stock


    %td{:class => "divider {sorter: false}"}
    - colspan = (local_assigns.has_key? :include_enter_signal) ? 7 : 6
    %td{:class => "{sorter: false}", :colspan => "#{colspan}"} Entry

    - if local_assigns.has_key? :include_unrealized_pnl
      %td{:class => "divider {sorter: false}"}
      %td{:class => "{sorter: false}"} 

    - if local_assigns.has_key? :include_exit
      %td{:class => "divider {sorter: false}"}
      - colspan = (local_assigns.has_key? :include_exit_signal) ? 5 : 4
      %td{:class => "{sorter: false}", :colspan => "#{colspan}"} Exit
    
    - if local_assigns.has_key? :include_realized_pnl
      %td{:class => "divider {sorter: false}"}
      %td{:class => "{sorter: false}"} 


    %td{:class => "divider {sorter: false}"}
    %td{:class => "{sorter: false}" } Actions

  %tr
    %th Ticker
    %th Name
    %th Currency

    %th{:class => "divider {sorter: false}"}
    - if local_assigns.has_key? :include_entry_signal
      %th Signal date
    %th Date
    %th Long
    %th Quantity
    %th Price
    %th Value
    %th USD value

    - if local_assigns.has_key? :include_unrealized_pnl
      %th{:class => "divider {sorter: false}"}
      %th P&L

    - if local_assigns.has_key? :include_exit
      %th{:class => "divider {sorter: false}"}
      - if local_assigns.has_key? :include_exit_signal
        %th Signal date
      %th Date
      %th Price
      %th Value
      %th USD value

    - if local_assigns.has_key? :include_realized_pnl
      %th{:class => "divider {sorter: false}"}
      %th P&L

    %th{:class => "divider {sorter: false}"}
    %th{:class => "{sorter: false}"}
