%h1 Edit trade

= simple_form_for(@trade, :defaults => {:required => false, :input_html => {:class => 'input-xxlarge'}}) do |f|
  %fieldset
    %legend Edit trade

    = render partial: 'form', locals: {f: f}
