%legend Open trades 

%table#entered_trades
  = render partial: 'headers'

  %tbody
    - @entered_trades.each do |trade|
      = render partial: trade

:javascript
  $(document).ready(function() {
    $('table').tablesorter({theme: 'blue'});
  })
