%h1 Open trades 

- fx_rate = FxRate.first

%table#entered_trades
  = render partial: 'headers', locals: {include_unrealized_pnl: true}

  %tbody
    - @entered_trades.each do |trade|
      = render partial: trade, locals: {include_unrealized_pnl: true, date: fx_rate.date}

%small= "Unrealized P&L based on #{fx_rate.date} FX rates."
