%legend Closed trades

%table#exited_trades
  %thead
  = render partial: 'headers', locals: {include_exit: true}

  %tbody
    - @exited_trades.each do |trade|
      = render partial: trade, locals: {include_exit: true}

:javascript
  $(document).ready(function() {
    $('table').tablesorter({theme: 'blue'});
  })

